.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin/

### IntelliJ IDEA ###
.idea
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac OS ###
.DS_Store
