name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version ("1.8.0")'
        required: true
        type: string

jobs:
  prepare-release:
    runs-on: ubuntu-latest
    name: Release Job
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Environment
        uses: ./.github/actions/setup-env
      - name: Verify Build
        run: ./gradlew test check

      - name: Update Version
        run: echo ${{ inputs.version }} > version.txt
      - name: Commit Change
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add version.txt
          git commit -m "Update version to ${{ inputs.version }}"
          git push origin HEAD:main
      - name: Create Tag
        uses: negz/create-tag@v1
        with:
          version: ${{ inputs.version }}
          message: tag version ${{ inputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub Release # https://github.com/marketplace/actions/create-tag-release
        id: create_release
        uses: actions/create-release@latest
        #        OR: uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ inputs.version }}
          release_name: Release ${{ inputs.version }}
          body: No changelog provided
          draft: false
          prerelease: false
    outputs:
      upload-url: ${{ steps.create_release.outputs.upload_url }}

  build-and-upload:
    strategy:
      matrix:
        os: [ macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    needs: prepare-release
    name: Building and uploading compose artifact
    steps:
      - name: Log Info
        run: echo "Job running with ${{ runner.os }}/${{ matrix.os }}; inputs.version=[${{ inputs.version }}], ref=[${{ github.ref }}], ref_name=[${{ github.ref_name }}]"
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Environment
        uses: ./.github/actions/setup-env
      - name: Execute Gradle
        run: ./gradlew packageDistributionForCurrentOS -Plsc_version="${{ inputs.version }}"

      - name: Upload Release Asset for Windows
        if: runner.os == 'Windows'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare-release.outputs.upload-url }}
          asset_path: build/compose/binaries/main/exe/LocalSportsClub-${{ inputs.version }}.exe
          asset_name: LocalSportsClub.exe
          asset_content_type: application/vnd.microsoft.portable-executable

      - name: Upload Release Asset for MacOS
        if: runner.os == 'macOS'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare-release.outputs.upload-url }}
          asset_path: build/compose/binaries/main/dmg/LocalSportsClub-${{ inputs.version }}.dmg
          asset_name: LocalSportsClub.dmg
          asset_content_type: application/x-apple-diskimage
